html, body {
    padding: 0;
    margin: 0;
    width: 320px;
    height: 100%;   
}
body {      
    /*background: -webkit-gradient(linear, 0% 0, 0% 100%, from(rgb(204, 204, 204)), color-stop(0.6, rgb(204, 204, 204)), to(rgb(170, 170, 170)));*/
    color: rgb(16, 16, 16);
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    text-shadow: #de9f7b 0px 1px 0px
}

#wrapper {
    margin: 15px;
    text-align: justify;
}

h1, h2, h3 {
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: #ffee79;
    color: #f9d50d;
    text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 2px
}