<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>Info</title>
        <link rel="stylesheet" type="text/css" media="all" href="help.css" />
        <style type="text/css">
            body {
                background-image: url(../pics/help/dual_small.jpg);
            }
        </style>
        <script type="text/javascript" src="help.utils.js"></script>
        <script type="text/tmpl" id="template">
            <%= b({ t: 'help_turnTime', x: 25, y: 235, tipPos: 'bottom', tipX: 25, maxWidth: 260}) %>
            <%= b({ t: 'help_score', x: 5, y: 245, tipPos: 'top', tipX: 265, maxWidth: 290}) %>
     
        </script>
    </head>
    <body></body>
</html>