<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>Info</title>
        <link rel="stylesheet" type="text/css" media="all" href="help.css" />
        <style type="text/css">
            body {
                background-image: url(../pics/help/dual_small.jpg);
            }
        </style>
        <script type="text/javascript" src="help.utils.js"></script>
        <script type="text/tmpl" id="template">
            <%= b({ t: 'help_twoPlayers', x: 40, y: 10, tipPos: 'left', tipY: 25, maxWidth: 240}) %>
			<%= b({ t: 'help_menuButton', x: 50, y: 270, tipPos: 'bottom', tipX: 85, maxWidth: 200}) %>
			<%= b({ t: 'help_turnPop', x: 40, y: 260, tipPos: 'top', tipX: 5, maxWidth: 240}) %>
        </script>
    </head>
    <body></body>
</html>