<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>Info</title>
        <link rel="stylesheet" type="text/css" media="all" href="help.css" />
        <style type="text/css">
            body {
                background-image: url(../pics/help/tiles_small.jpg);
            }
        </style>
        <script type="text/javascript" src="help.utils.js"></script>
        <script type="text/tmpl" id="template">
            <%= b({ t: 'help_baseTile', x: 15, y: 350, tipPos: 'bottom', tipX: 125, maxWidth: 270}) %>
            <%= b({ t: 'help_lostTile', x: 15, y: 140, tipPos: 'top', tipX: 30, maxWidth: 100}) %>
            <%= b({ t: 'help_goodTile', x: 190, y: 160, tipPos: 'left', tipY: 30, maxWidth: 100}) %>
            <%= b({ t: 'help_badTile', x: 40, y: 300, tipPos: 'top', tipX: 80, maxWidth: 240}) %>
        </script>
    </head>
    <body></body>
</html>