<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>Info</title>
        <link rel="stylesheet" type="text/css" media="all" href="help.css" />
        <style type="text/css">
            body {
                background-image: url(../pics/help/board_small.jpg);
            }
        </style>
        <script type="text/javascript" src="help.utils.js"></script>
        <script type="text/tmpl" id="template">
            <%= b({ t: 'help_guide', x: 20, y: 270, tipPos: 'bottom', tipX: 105, maxWidth: 260}) %>
            <%= b({ t: 'help_golingo', x: 40, y: 220, tipPos: 'left', tipY: 30, maxWidth: 250}) %>
        </script>
    </head>
    <body>
    </body>
</html>