/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$player-width: 320px;
$player-height: 480px - 20px; /*
	TODO remove "-20px" status bar compensation
*/

$top-bar-height: 40px;

$viewport-width: $player-width;
$viewport-height: $player-height - $top-bar-height;

$board-width: 1360px;
$board-height: 1360px;

.player {
	width: $player-width;
	height: $player-height;
//	outline: 1px solid grey;
	
	.top-bar {
		height: $top-bar-height;
		background-color: brown;
	}
	
	.viewport {
		width: $viewport-width;
		height: $viewport-height;
		overflow: auto;
		
		.board {
			background: transparent url(../../images/background.jpg) center center no-repeat;
			width: $board-width;
			height: $board-height;
			
			table.grid {	
				tr {
					td {
						width: 40px;
						height: 40px;
						-webkit-border-radius: 6px;
						-webkit-box-sizing: border-box;
						
						&.helper, &:hover { /*
							TODO remove hover
						*/
							background-color: blue;
						}
					}
				}
			}
			
			.pieces {
				.piece {
					
				}
			}
			
			.markings {
				.marking {
					
				}
			}
			
		} //board END
	} //viewport END
}//player END