/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

//VARIABLES
//PATH
$BASE_PATH: "../../";
$IMAGES_PATH: $BASE_PATH + "images/";

//FONTS
$font-family: "American Typewriter";

//player
$player-width: 320px;
$player-height: 480px - 20px; /*
	TODO remove "-20px" status bar compensation
*/

//topbar
$top-bar-height: 40px;

//viewport
$viewport-width: $player-width;
$viewport-height: $player-height - $top-bar-height;

//board
$board-width: 680px;
$board-height: 680px;

//piece
	//dimensions
	$piece-width: 40px;
	$piece-height: 40px;
	$piece-border-radius: 4px;
	
	//colors
	$piece-default-color: beige;
	$piece-correct-color: green;
	$piece-semi-correct-color: yellow;
	$piece-incorrect-color: red;
	
	//font
	$piece-font-family: $font-family;
	$piece-font-size: 24px;

//VARIABLES END

//STYLES

html, body {
	margin: 0;
	padding: 0;
}

* {
	-webkit-box-sizing: border-box;
	//background-size: 100%;
	line-height: 100%;
	font-family: $font-family;
	font-weight: bold;
}

.player {
	position: relative;
	
	width: $player-width;
	height: $player-height;
	outline: 1px solid black;
	
	.top-bar {
		position: absolute;
		z-index: 2;
		top: 0px;
		left: 0px;
		
		height: $top-bar-height;
		width: 100%;

		
		background-image: url($IMAGES_PATH + "top-bar.png");
		background-size: 100%;
		
		border-bottom: 1px solid rgba(255,255,255,0.2);
		-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.8);
		
		.menu-button {
			float: left;
		
			height: 40px;
			width: 78px;			
			background: transparent url($IMAGES_PATH + "top-bar-button.png");
			background-size: 100%;
			text-transform: uppercase;
			font-size: 14px;
			
			&:active {
				background: transparent url($IMAGES_PATH + "top-bar-button-tapped.png");
			}
		}
	
		.progress-bar {
			
		}
		
		.score {
			
		}
	}
	
	.viewport {
		width: $viewport-width;
		height: $viewport-height;
		overflow: auto;
		position: absolute;
		top: 40px;
		
		
		.board {
			position: relative;
			background: transparent url($IMAGES_PATH + "background.jpg") center center no-repeat;
			background-size: 100%;
			width: $board-width;
			height: $board-height;
			
			table.grid {
				position: absolute;
				-webkit-transform: translate3d(0px, 0px, 0px);	
				tr {
					td {
						
						width: 44px;
						height: 44px;
						-webkit-border-radius: 6px;
						-webkit-box-sizing: border-box;
						border: 2px solid rgba(255, 223, 32, 0.4);
						opacity: 0;
						//-webkit-transition: opacity 0.2s;
						-webkit-transform: translate3d(0px, 0px, 0px);
						//outline: 1px solid blue;
						&.helper { 
							border: 2px solid rgba(255, 223, 32, 0.4);

						}
					}
				}
			}
			
			.pieces {
				.piece.dragging {
					.shadow {
						-webkit-transform: translate3d(0px, -20px, 0px) scale(1.2);
						opacity: 0.2;
						-webkit-box-shadow: 0px 1px 12px rgba(0,0,0,1);
					}
					.piece-inner {
						-webkit-transform: translate3d(0px, -88px, 0px);
					}
				}
				.piece {
					.piece-inner {
						-webkit-box-sizing: border-box;	
						border-radius: $piece-border-radius;
						border-top: 1px solid rgba(255,255,255,0.5);

						background-image: url($IMAGES_PATH + "tile.png");
						background-color: $piece-default-color;
						font-family: $piece-font-family;
						font-size: $piece-font-size;
						line-height: 100%;
						font-weight: bold;
						text-transform: uppercase;
						text-align: center;
						width: 100%;
						height: 100%;
						padding: 10px;
						position: absolute;
						-webkit-transition: -webkit-transform 0.2s ease-in-out;
					}
					
					.shadow {
						position: absolute;
						-webkit-box-sizing: border-box;	
						background: rgba(0,0,0,0.7);
						width: 100%;
						height: 100%;
						padding: 10px;
						-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,1);
						-webkit-transition: all 0.2s ease-in-out;
						opacity: 0.7;
						border-radius: $piece-border-radius;
					}
					
					&#piece1 {
						
						top: 0px;
						left: 0px;
					}
					&#piece2 {
						
						top: 44px;
						left: 0px;
					}
					&#piece3 {
						
						top: 88px;
						left: 44px;
					}
					
					position: absolute;
				
					width: $piece-width;
					height: $piece-height;
					margin: 2px;
					
					
					
					
					
					
					
					&.correct {
						background-color: $piece-correct-color;
					}
					
					&.semi-correct {
						background-color: $piece-semi-correct-color;
					}
					
					&.incorrect {
						background-color: $piece-incorrect-color;
					}
				}
			}
			
			.markings {
				.marking {
					
				}
			}
			
		} //board END
	} //viewport END
}//player END

//STYLES END