* {
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
	font-family: Helvetica;
}

body {
	font-size: 18px;
    text-shadow: rgba(220,220,220, 0.5) 0 1px 1px;
	background: #111 url(../pics/wood.jpg) -160px -80px no-repeat;
}

/* === LETTERS === */
.letter {
    width: 40px;
    height: 40px;
    z-index: 1337;
	padding: 4px;
	position: absolute;
}

td {
	position: relative;
	vertical-align: top;
}

.letter div {
	-webkit-transform: scale(0.5);
	width: 72px;
	height: 72px;
	line-height: 72px;
	text-align: center;
	position: absolute;
	top: -19px;
	left: -19px;
	font-size: 52px;
	background: #ccc;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238,238,196,1)), to(rgba(156,158,128,1)));
	-webkit-border-radius: 20px;
    -webkit-box-shadow: 0px 0px 6px #333;
    border: 2px solid rgba(196, 196, 196, 1);
	margin: 2px;
	text-shadow: rgb(220,220,220) 0 2px 2px;
}

.special div {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(64,64,48,1)), to(rgba(32,32,16,1)));
	border: 2px solid rgba(76, 76, 64, 0.75);
	text-shadow: rgb(64,64,64) 0 2px 2px;
}
.special {
	color: #eee;
}


.mainboard .rooted {
	color: #ff0;
}

.mainboard .rooted.h_on.v_off, .mainboard .rooted.h_off.v_on {
	color: #e500b6;
}
.mainboard .rooted.h_off.v_off, .mainboard .rooted.h_off, .mainboard .rooted.v_off {
	color: #e51b00;
}
.mainboard .rooted.h_on.v_on, .mainboard .rooted.h_on, .mainboard .rooted.v_on {
	color: #33a016;
}


.dragging > div {
	-webkit-transform: scale(1);
	opacity: 0.70;
}

.dragging {
	z-index: 1437;
}

.wrong {
  -webkit-animation-name: 'flashBadLetter';
  -webkit-animation-duration: 1.5s;
}

.dragtip {
    display: none;
    position: absolute;
    top: -32px;
    position: absolute;
    top: -72px;
    left: -26px;
    height: 106px;
    width: 82px;
    line-height: 64px;
    font-size: 36px;
    font-weight: bold;
    z-index: 99;
}           

.dragging > .dragtip {
    display: block;
    -webkit-transform: scaleY(1);
}

/* === RESULTS === */

.resultsMainCon.show { 
    -webkit-transform: translate3d(0px, 0%, 0px);
}

.resultsMainCon {
	width: 100%;
	height: 100%;
    background: rgba(236, 236, 236, 0.6);
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    -webkit-box-shadow: 1px 1px 5px #333;
	z-index: 1357;
	-webkit-transform: translate3d(0px, 100%, 0px);
}

.resultsSubCon {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    border: none;
}

.results {
    width: 250px;
    display: block;
    line-height: 30px;
    -webkit-border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 5px #333;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0.85)), to(rgba(40,40,40,0.85)));
    border: 1px solid rgba(144, 144, 144, 0.70);
    margin: 0 auto;
	padding: 10px;
}

.results {
	color: #fff;
    text-shadow: rgba(0,0,0, 0.5) 0 1px 1px;
}

.results table {
	width: 100%;
	color: #ddd;
    text-shadow: rgba(0,0,0, 0.5) 0 1px 1px;
}

.results .tableWrapper {
	margin: 10px 0;
}

.results table td {
   height: auto;
   width: auto;
   line-height: 1.4em;
}

.results h1 {
	font-size: 1.4em;
}

.results h2 {
    font-size: 1em;
}

.results td:last-child {
    text-align: right;
}

.resultsMenu li {
	-webkit-border-radius: 10px;
}

/* Scores */

.score .won {
	color: #0f0;
}

.score .lost {
	color: #f00;
}

.board .score {
	margin-bottom: 10px;
}

.score span {
	position: relative;
}

.score td {
    text-align: center;
	position: relative;
}

.tooltip {
    position: absolute;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(37,111,37,0.75)), to(rgba(36,70,36,0.75)));
    -webkit-border-radius: 20px;
    -webkit-box-shadow: 0px 0px 4px #333;
    border: 1px solid rgba(87, 125, 39, 0.75);
    margin: -1px;
    z-index: 1338;
    padding: 10px;
    color: #eee;
    text-shadow: #333 0px 1px 0px;
	text-align: center;
	top: -30px;
	margin: -50px;
	width: 100px;
}

.score td:first-child .tooltip {
    left: 30px;
}

.score td:last-child .tooltip {
    left: -30px;
}

.score td .tooltip {
	display: none;
}

.score td:active .tooltip{
	display: block;
}

.score thead td {
    color: #fb8518;
}

.score td:last-child {
    color: #ffb82e;
}


/* === MENU === */

.single .menuMainCon {
    width: 320px;
    height: 480px;
	-webkit-transform: translate3d(0px, -490px, 0px);	
}

.multi .menuMainCon {
    width: 320px;
    height: 240px;
	-webkit-transform: translate3d(0px, -250px, 0px);
}

.menuMainCon.show { 
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.menuMainCon {
	background: rgba(236, 236, 236, 0.6);
    display: table;
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	-webkit-box-shadow: 1px 1px 5px #333;
}

.menuSubCon {
	width: 100%;
	height: 100%;
	display: table-cell;
    vertical-align: middle;
	border: none;
}

.menu {
	width: 220px;
	display: block;
	line-height: 30px;
	-webkit-border-radius: 10px;
	text-align: center;
	-webkit-box-shadow: 1px 1px 5px #333;
    border: 1px solid rgba(144, 144, 144, 0.70);
    margin: 0 auto;
}

#board0 .menu li, #board0 .results li {
	text-shadow: rgba(0,0,0, 0.5) 0 1px 1px;
	color: #FF5E50;
}

#board1 .menu li, #board1 .results li {
	text-shadow: rgba(0,0,0, 0.5) 0 1px 1px;
	color: #8695FF;
}

.menu li:active, .resultsMenu li:active {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(37,106,34,0.85)), to(rgba(22,131,17,0.85)));
	color: #eee !important;
}

.menu li:first-child {
    border-top: none;
	-webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
}

.menu li {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0.85)), to(rgba(31,31,31,0.85)));
}

.menu li:last-child {
	border-bottom: none;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.showMenuButtonWrapper { /* FIXME */
    width: 32px;
    height: 60px;
    position: absolute;
    bottom: -50px;
    left: 144px; 
}

.showMenuButton {
    width: 32px;
    height: 24px;
    padding-top: 36px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(195, 193, 91)), to(rgb(255, 252, 119)));
    margin: 0 auto;
    text-align: center;
    -webkit-box-shadow: 0px 0px 4px #333;
    text-shadow: rgba(255,255,255, 0.6) 0 1px 1px;
}

.showMenuButton:active {
	padding-top: 46px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(90, 190, 30)), to(rgb(130, 230, 60)));
}


/* === BOARD === */
.board {
    overflow: hidden;
    position: relative;
    width: 320px;
}

.single .board {
    height: 480px;  
}

.multi .board {
    height: 240px;	
}

.board {
	background: #111;
}

.board .mainboard {
    width: 680px;
    height: 680px;
    position: absolute;
	background: url(../pics/wood.jpg);
}

.board .letterboxWrapper {
    bottom: 0px;
    left: 0px;
    position: absolute;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0.70)), to(rgba(48,48,48,0.70)));
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-webkit-box-shadow: 0px 0px 5px #333;
	border: 1px solid rgba(144, 144, 144, 0.70);
	margin: -1px;
	z-index: 1337;
}


.board table, .board tr, .board td {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

.board td {
    width: 40px;
    height: 40px;
    border: none;
    display: inline-block;
}

.mainboard, .letterbox {
    z-index: 100;
}

/* === STATS === */
.stats {
	position: absolute;
	top: 0;
	width: 100%;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(48,48,48,0.75)), to(rgba(0,0,0,0.75)));
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-box-shadow: 0px 0px 4px #333;
    border: 1px solid rgba(144, 144, 144, 0.75);
    margin: -1px;
	z-index: 1338;
}

.golingo {
	overflow: hidden;
	max-width: 48px;
	font-size: 14px;
    line-height: 20px;
	height: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
    padding: 0 6px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bar {
	width: 140px;
	height: 12px;
	position: relative;
}

.barWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

.letterBar, .togetherBar {
	width: 0px;
	margin: 0 auto;
}

.barContainer {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(16,16,16, 0.75)), to(rgba(64,64,64, 0.75)));
	-webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
	border: 1px solid #456;
	border-top: none;
	overflow: none;
	-webkit-box-shadow: 1px 1px 5px #333;
}

.letterBar {
	border-left: 1px solid #0e0;
	border-right: 1px solid #0e0;
	height: 13px;
	-webkit-border-radius: 6px;
}

.togetherBar {
	height: 9px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
}

#board0 .togetherBar, #board0 .golingo {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 37, 6)), to(rgb(204, 32, 5)));
	border: 1px solid rgb(255, 94, 80);
}

#board1 .togetherBar, #board1 .golingo {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(71, 114, 255)), to(rgb(58, 94, 210)));
    border: 1px solid rgb(134, 149, 255);
}

.stats ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.stats > ul > li {
	display: table-cell;
	vertical-align: middle;
}

.time canvas {
	width: 20px;
	height: 20px;
	display: block;
    position: absolute;
	padding: 0px 10px 20px 10px;
	top: 0;
    margin-left: -5px;
}

.time {
    width: 30px;
    -webkit-transform: scale(1) translate(0px, 0px);
}

.name {
	width: 60px;
}

.stats li.right {
    width: 45px;
	text-align: center;
	color: #eee;
	text-shadow: rgba(0,0,0, 0.5) 0 1px 1px;
}

.stats li.center {
	width: 140px;
	vertical-align: top;
}

.scoreToBeat {
	position: relative;
}

.scoreToBeatTotal, .scoreToBeatAmount {
	position: absolute;
    top: 0;
	width: 45px;
    text-align: center;
	color: #fb8518;
}

.beaten .scoreToBeatAmount {
	color: #0f0;
}

.scoreToBeatAmount {
	color: #eee;
	overflow: hidden;
}

.endStats {
	height: 20px;
	line-height: 20px;
	display: inline-block;
	margin: 0 2px;
}

.winner .letter div{
    color: #ffb82e;
}

/* === TRANSITIONS & ANIMATIONS === */
.go {
    -webkit-animation-name: 'gogo';
    -webkit-animation-duration: 0.5s;
}

.winner .letter div{
    -webkit-animation-name: 'winner';
	-webkit-animation-duration: 2s;
}

.letter {
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.4s;
}

.anim, .slide {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.3s;
}

.bar {
    -webkit-transition-property: width;
    -webkit-transition-duration: 0.3s;
}

.fade {
	-webkit-transition-property: opacity;
    -webkit-transition-duration: 0.5s;
}

.failedBeatingTime {
	color: #f00;
    -webkit-animation-name: 'pop';
    -webkit-animation-duration: 0.5s;	
}

.showMenuButton {
    -webkit-transition-property: padding-top;
    -webkit-transition-duration: 0.2s;
}

@-webkit-keyframes 'flashBadLetter' {
  
from { 
        text-shadow: 0px 0px 0px #f00;
		-webkit-transform: scale(0.5);
        color: #000;
    }
    20% {
        text-shadow: 0px 0px 8px #f00;
		-webkit-transform: scale(0.4);
        color: #f00;
    }
    to {
        text-shadow: 0px 0px 0px #f00;
		-webkit-transform: scale(0.5);
        color: #000;
    }
  
}

@-webkit-keyframes 'pop' {
  
from { 
        -webkit-transform: scale(1);
    }
    40% {
        -webkit-transform: scale(1.5);
    }
    to {
        -webkit-transform: scale(1);
    }
  
}

@-webkit-keyframes 'gogo' {
  
from { 
        -webkit-transform: scale(1) translate(0px, 0px);
    }
    40% {
        -webkit-transform: scale(1.5) translate(20px, 20px);
    }
    to {
        -webkit-transform: scale(1) translate(0px, 0px);
    }
  
}

@-webkit-keyframes 'winner' {
  
from { 
        -webkit-transform: scale(0.5);
    }
	
	20% {
        -webkit-transform: scale(0.8);
    }
	
	35% {
        -webkit-transform: scale(0.7);
    }
	
    50% {
        -webkit-transform: scale(0.8);
    }
	
	65% {
        -webkit-transform: scale(0.7);
    }
	
	80% {
        -webkit-transform: scale(0.8);
    }
	
    to {
        -webkit-transform: scale(0.5);
    }
  
}