/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../.gem/ruby/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

                              /*
	TODO remove "-20px" status bar compensation
*/
/* line 52, ../scss/app.scss */
.player {
  width: 320px;
  height: 460px;
}
/* line 57, ../scss/app.scss */
.player .top-bar {
  height: 40px;
  background-color: brown;
}
/* line 62, ../scss/app.scss */
.player .viewport {
  width: 320px;
  height: 420px;
  overflow: auto;
}
/* line 68, ../scss/app.scss */
.player .viewport .board {
  position: relative;
  background: transparent url("../../images/background.jpg") center center no-repeat;
  width: 1360px;
  height: 1360px;
}
/* line 76, ../scss/app.scss */
.player .viewport .board table.grid tr td {
  width: 44px;
  height: 44px;
  -webkit-border-radius: 6px;
  -webkit-box-sizing: border-box;
}
/* line 82, ../scss/app.scss */
.player .viewport .board table.grid tr td.helper, .player .viewport .board table.grid tr td:hover {
                    /*
	TODO remove hover
*/
  background-color: blue;
}
/* line 92, ../scss/app.scss */
.player .viewport .board .pieces .piece {
  position: absolute;
  -webkit-box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 2px;
  border-radius: 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background-image: url("../../images/tile.png");
  background-color: beige;
  -webkit-box-shadow: 0px 1px 3px black;
  font-family: "American Typewriter";
  font-size: 24px;
  line-height: 100%;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
/* line 93, ../scss/app.scss */
.player .viewport .board .pieces .piece#piece1 {
  top: 0px;
  left: 0px;
}
/* line 98, ../scss/app.scss */
.player .viewport .board .pieces .piece#piece2 {
  top: 44px;
  left: 0px;
}
/* line 103, ../scss/app.scss */
.player .viewport .board .pieces .piece#piece3 {
  top: 88px;
  left: 44px;
}
/* line 134, ../scss/app.scss */
.player .viewport .board .pieces .piece.correct {
  background-color: green;
}
/* line 138, ../scss/app.scss */
.player .viewport .board .pieces .piece.semi-correct {
  background-color: yellow;
}
/* line 142, ../scss/app.scss */
.player .viewport .board .pieces .piece.incorrect {
  background-color: red;
}
