/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
                              /*
	TODO remove "-20px" status bar compensation
*/
/* line 53, ../scss/app.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 58, ../scss/app.scss */
* {
  -webkit-box-sizing: border-box;
  line-height: 100%;
  font-family: "American Typewriter";
  font-weight: bold;
}

/* line 66, ../scss/app.scss */
.player {
  position: relative;
  width: 320px;
  height: 460px;
  outline: 1px solid black;
}
/* line 73, ../scss/app.scss */
.player .top-bar {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 100%;
  background-image: url("../../images/top-bar.png");
  background-size: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}
/* line 89, ../scss/app.scss */
.player .top-bar .menu-button {
  float: left;
  height: 40px;
  width: 78px;
  background: transparent url("../../images/top-bar-button.png");
  background-size: 100%;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 99, ../scss/app.scss */
.player .top-bar .menu-button:active {
  background: transparent url("../../images/top-bar-button-tapped.png");
}
/* line 113, ../scss/app.scss */
.player .viewport {
  width: 320px;
  height: 420px;
  overflow: auto;
  position: absolute;
  top: 40px;
}
/* line 121, ../scss/app.scss */
.player .viewport .board {
  position: relative;
  background: transparent url("../../images/background.jpg") center center no-repeat;
  background-size: 100%;
  width: 680px;
  height: 680px;
}
/* line 130, ../scss/app.scss */
.player .viewport .board table.grid tr td {
  width: 44px;
  height: 44px;
  -webkit-border-radius: 6px;
}
/* line 135, ../scss/app.scss */
.player .viewport .board table.grid tr td.helper {
  background-color: blue;
}
/* line 143, ../scss/app.scss */
.player .viewport .board .pieces .piece {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 2px;
  border-radius: 4px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background-image: url("../../images/tile.png");
  background-color: beige;
  -webkit-box-shadow: 0px 1px 3px black;
  font-family: "American Typewriter";
  font-size: 24px;
  line-height: 100%;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
/* line 144, ../scss/app.scss */
.player .viewport .board .pieces .piece#piece1 {
  top: 0px;
  left: 0px;
}
/* line 149, ../scss/app.scss */
.player .viewport .board .pieces .piece#piece2 {
  top: 44px;
  left: 0px;
}
/* line 154, ../scss/app.scss */
.player .viewport .board .pieces .piece#piece3 {
  top: 88px;
  left: 44px;
}
/* line 184, ../scss/app.scss */
.player .viewport .board .pieces .piece.correct {
  background-color: green;
}
/* line 188, ../scss/app.scss */
.player .viewport .board .pieces .piece.semi-correct {
  background-color: yellow;
}
/* line 192, ../scss/app.scss */
.player .viewport .board .pieces .piece.incorrect {
  background-color: red;
}
